[Unit]
Description=Python Ticket Sales To Spreadsheet Script

[Service]
Type=oneshot
Environment=PYTHONUNBUFFERED=true
ExecStart=/home/schef/.local/bin/ticket-sales-to-spreadsheet
KillMode=process
TimeoutSec=600s

[Install]
WantedBy=multi-user.target
