spreahsheet_key_json_filename = "<filename>.json"
spreahsheet_url = "https://docs.google.com/spreadsheets/d/<id>"
download_path = "downloads"
show_names = {
    "bela_fleck": "https://ulaznice.czk-cakovec.hr/Dvorana.php?i=9200&W=&b=T&statusID=0",
    "chris_botti": "https://ulaznice.czk-cakovec.hr/Dvorana.php?i=9157&W=&b=T&statusID=0"
    }
